<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>Vuejs</title>

    <style>
        ul{
            list-style:none;
        }
    
    </style>
</head>
<body>

        <div id="root">
            <h1 class="">Skills</h1>
        <hr/>
            <ul>     
                <li v-for="(skill, i) in skills" >
                    <p>
                    {{ i+1 }}  {{ skill }} <button @click="removeSkill(i)">x</button>
                    </p>
                </li>
            </ul>
            <input type="text" v-model="newSkill">
            <button @click="addNewSkill()">+</button>
        </div>


        <script type="text/javascript" src="vue.js"></script>
       


              <script type="text/javascript">
                    var app = new Vue({
                        el:'#root',
                        data: {
                            skills: ["HTML", "JS", "CSS", "PHP", "nodeJs"],
                            
                            newSkill:'',
                        },

                        methods: {
                                addNewSkill: function() {
                                    this.skills.push(this.newSkill);
                                    this.newSkill='';
                                },
                                removeSkill: function(i) {
                                    this.skills.splice(i,1);
                                },
                            } ,
                    })
              </script>
              
    
</body>
</html>